---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Unlocking Your Global Education - Expert Study Abroad Counseling

Your End-to-End Overseas Education Solution
* Universities Shortlisting
* Application Submissions
* IELTS Preparation
* Visa Support
* SOP Support
* Dedicated Counselor
`;
---

<Layout title="Study abroad consultants in Hyderabad | Students to study abroad">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Your Passport to Success - Premier Study Abroad Guidance</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://careertest.edumilestones.com/student-profiler/?channel_id=MzU0OQ==" class="btn btn-lg sm:min-w-64">Lets get Started</a>
    </p>
</Layout>
